.login-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5%;
  margin-top: 15%;
}

.title {
  color: black;
  text-decoration: underline;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}
