.username-wrapper {
  display: flex;
  padding: 2%;
  justify-content: center;
}

.password-wrapper {
  display: flex;
  padding: 2%;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password-box {
  margin: 2%;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.account-creation-success-error-message {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
