.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: rgba(253, 248, 236, 0.85); */
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5%;
}

.page-title {
  color: rgba(253, 248, 236, 1);
  text-decoration: underline;
  margin-top: -1%;
}

.username-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  padding: 2%;
}

.password-box {
  display: flex;
  padding: 1.5%;
  margin-top: 4%;
}

.page-wrapper {
  margin-top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.account-creation-success-error-message {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
